@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// 黒
$black : #2d3436;

html * {
  font-family: 'Courier Prime', monospace;
  font-weight: normal;
  color: $black;
  font-display: swap;
}

.index {

  .taglist {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      cursor: pointer;
      font-size: 14px;
      width: auto;
      list-style: none;
      padding-left: 15px;
      margin: 5px;
      border-radius: 2px 5px 5px 2px;
      background: #ffa2b7;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      transition: .3s;

      &:hover {
        opacity: 0.7;
      }

      p {
        padding: 5px 10px;
        background-color: #ff8ba7;
        color: #fefefe;
        letter-spacing: 1.5px;
        text-align: left;
      }
    }
  }

  .postlist {
    display: block;

    .listbox {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;

      a {
        color: $black;
        article {
          padding: 10px;
          border-radius: 5px;

          h3 {
            margin-top: 10px;
          }
        }
      }
    }
  }
}