@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

$black: #2d3436;
$gray: #dfe6e9;
$pink: #ffa2b7;

html * {
  font-family: 'Courier Prime', monospace;
  font-weight: normal;
  color: $black;
  font-display: swap;
  box-sizing: border-box;

  header {
    h1 {
      padding-bottom: 20px;
      border-bottom: solid 1px $black;
    }

    h4 {
      text-align: right;
      
      a {
        position: relative;

        span {
          position: absolute;
          top: center;
          left: 1.5rem;
        }

        &:hover {
          span {
            left: 1.8rem;
          }
        }
      }
    }
  }

  footer {
    padding-top: 30px;
    text-align: center;
  }

  table {
    font-size: 0.8rem;

    tr {
      th, td {
        padding: 0.5rem;
        border-bottom: solid 1px $gray;
        
        &:first-child {
          padding: 0.5rem;
          border-right: 1px solid $gray;
        }
  
      }
      
      &:last-child {
        th, td {
          border-bottom: none;
        }
      }
  
      th {
        background-color: $gray;
      }
    }
  }
}

code {
  background-color: $gray;
  color: $black;
  padding: 7px 5px 0px;
  margin: 0 3px;
}

.index {

  .taglist {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      cursor: pointer;
      font-size: 14px;
      width: auto;
      list-style: none;
      padding-left: 15px;
      margin: 5px;
      border-radius: 2px 5px 5px 2px;
      background: #ffa2b7;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      transition: .3s;

      &:hover {
        opacity: 0.7;
      }

      p {
        padding: 5px 10px;
        background-color: #ff8ba7;
        color: #fefefe;
        letter-spacing: 1.5px;
        text-align: left;
      }
    }
  }

  .postlist {
    display: block;

    .listbox {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;

      a {
        position: relative;
        transition: 0.5s;
        color: $black;
        box-shadow: 0px 0px $black;
        border: solid 1px #fff;
        margin: 1rem 0;

        article {
          padding: 10px;
          border-radius: 5px;

          header {
            h3 {
              position: relative;
              margin-top: 10px;
              display: inline-block;
              
              &::before {
                transition: 0.4s;
                content: '';
                width: 0%;
                height: 0.8rem;
                background-color: $pink;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
              }
            }

            small {
              display: block;
            }
          }
        }
        
        &:hover {
          box-shadow: 10px 10px $black;
          border: solid 1px $black;

          article {
            h3 {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

form {
  p {
    label {
      display: inline-block;
      min-width: 100px;
    }
    input {
      width: calc(100% - 100px);

    }
    input[type="textarea"] {
      min-height: 100px;
    }

    &.submit {
      text-align: center;
    }
  }
}