// nav
@keyframes navLink {
    0% {
        left: -22px;
    }
    50% {
        left: -18px;
    }
    100% {
        left: -22px;
    }
}

// post list
@keyframes showPost {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}