html {
  body {
    article.post {
      position: relative;
      margin: 30px 0;
      
      h2 {
        padding: 12px 10px 4px;
        margin-top: 6rem;
        border-left: solid 5px #ffa2b7;
        background-color: #fff5f7;
      }

      h3 {
        margin-top: 2rem;
      }
      
      .anchor.before {
        display: none;
      }
  
      ul.breadcrumb__list {
        display: flex;
        list-style: none;
        padding: 8px 20px 0;
        margin: 0 0 30px;
  
        li.breadcrumb__item {
          position: relative;
  
          &:not(:last-child) {
            padding: 0 30px 0 0;
  
            &::after {
              content: '>';
              position: absolute;
              right: 9px;
            }
          }
        }
      }
  
      ul {
        li {
          margin-bottom: 0.5rem;
        }
      }
      small {
        font-size: .8rem;
        color: $black;
      }

      blockquote {
        font-style: normal;
        font-size: 0.8em;
        box-sizing: border-box;
        width: 100%;
        background: #eaeaea;
        margin-left: 0;
        padding: 0.2em 1em;
        border-left: solid 3px #adadad;
      }
  
      .description {
        padding: 15px;
        background-color: $body;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 3px 3px 5px #cccccc, -3px -3px 5px #ffffff;
      }

      .kao {
        display: flex;
        position: relative;
        margin: 50px auto 70px;
        align-items: center;
        box-shadow: 3px 3px 5px #dadada, -3px -3px 5px #ffffff;
        overflow: hidden;
        font-size: 14px;
        color: #6e7c80;

        
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #f1f1f1;
          padding: 0 20px;  
        }

        &.sleep{
          padding: 10px 30px 10px 120px;
          
          &::before {
            content: '(´-ω-`)';
          }
        }
      }

      @media screen and (max-width: 850px) {
        .kao {
          &.sleep {
            padding: 10px 30px 10px 95px;
  
            &::before {
              padding: 0 10px;
            }
          }
        }
      }
      
      blockquote.novel {
        margin: 50px 0;
        padding: 20px 15px 15px;
        font-size: 16px;
        font-weight: normal;
        border: none;
        background-color: $gray;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
        border-left: solid 5px $black;
        
        p {
          display: inline;
          border-bottom: dashed 1px;
        }
        
        cite {
          display: block;
          text-align: right;
          font-size: 14px;
          padding: 10px 0 0;
        }
      }

      table {
        font-size: 0.8rem;
    
        tr {
          th, td {
            padding: 0.5rem;
            border-bottom: solid 1px $gray;
            
            &:first-child {
              padding: 0.5rem;
              border-right: 1px solid $gray;
            }
      
          }
          
          &:last-child {
            th, td {
              border-bottom: none;
            }
          }
      
          th {
            background-color: $gray;
          }
        }
      }

      code {
        color: #f08d49;
        padding: 0 5px;
        margin: 0 3px;
      }
    }

    nav.table-of-content {
      position: fixed;
      top: 300px;
      left: calc(50% + 430px);
      width: 220px;
  
      ul {
        li {
          list-style: none;
  
          a {
            position: relative;
            text-decoration: none;
            box-shadow: none;
            color: $black;
  
            &:hover {
              text-decoration: underline;
  
              &::before {
                content: ">";
                position: absolute;
                top: 0;
                left: -22px;
                font-size: 18px;
                line-height: 1;
                animation-name: navLink;
                animation-duration: 1s;
                animation-iteration-count: infinite;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 850px) {
      nav.table-of-content {
        position: relative;
        top: 0;
        left: 0;
        line-height: 1.5;
        font-size: 14px;
        width: 100%;
        background: #e4e4e4;
        padding: 20px 20px 20px 40px;
        > ul {
          margin: 0;
        }
      }
    }
  }
}

